@import url(“../../app.css); 

body {
  background-color: var(--cor-azul-nivel2);
  font: normal 10pt Arial;
}

a {
  text-decoration: none;
}

hr {
  height: 4px;
  border-radius: 50px;
  /* background-color: var(--cor-laranja-claro); */
  background: linear-gradient(90deg, var(--cor-laranja-escuro), var(--cor-azul-nivel1),  var(--cor-preto), var(--cor-laranja-claro), var(--cor-azul-nivel3), var(--cor-preto), var(--cor-azul-nivel2), var(--cor-branca));
}

header {
  text-align: center;
  color: var(--cor-branca);
  padding: 20px;
}

header h1 {
  font: bold 2.6em Arial;
}

main {
  min-height: 60vh;
  margin: auto;
  width: 700px;
  padding: 20px;
  border-radius: 20px; 
  color: var(--cor-branca);
  background-color: var(--cor-azul-nivel3);
  box-shadow: 0px 0px 20px var(--cor-azul-nivel3);
}

main span {
  padding-bottom: 5px;
  border-bottom: 2px solid var(--cor-laranja-escuro);
}

main h2 {
  font: bold 2.3em Arial;
}

main div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  margin: 10px;
}

main section {
  padding: 20px;
}

/* main section img{
  width: 75px;
  height: 75px;
} */

main section h3 {
  font: bolder 2em Arial;
  padding-bottom: 0px;
}
main section h4 {
  font: bolder 1.7em Arial;
  padding-bottom: 0px;
}
main section p { 
  padding-top: 0px;
  font: lighter 1.4em Arial;
}

main section ul{
  padding-left: 0px;
  list-style: none;
}
main section ul li{
  font: oblique 12pt Arial;
  padding: 5px;
}
main section ul li a {
  text-decoration: none;
  color: var(--cor-laranja-claro);
}

footer {
  margin-top: 10px;
  text-align: center;
  font-style: oblique;
  color: var(--cor-preto);
  font: normal 12pt Arial;
}

footer span a {
  color: var(--cor-branca);
}

@media only screen and (max-width: 800px) {
  main {
    width: auto;
  }
}

@media only screen and (min-width: 1400px) {
  main {
    width: 1000px;
    padding: 20px;
  }
  main section h2 {
    font: bold 2.2em Arial;
  }
  main section h3 {
    font: bolder 1.8em Arial;
  }
  main section p { 
    font: lighter 1.5em Arial;
  }
  main section ul li{
    font: oblique 15pt Arial;
    padding: 10px;
  }
}
