@import url(“../../../app.css); 

body {
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 175px;
  background-color: var(--cor-azul-nivel3);
  color: var(--cor-branca);
}
a {
  text-decoration: none;
}
hr {
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(90deg, var(--cor-laranja-escuro), var(--cor-azul-nivel1),  var(--cor-preto), var(--cor-laranja-claro), var(--cor-azul-nivel3), var(--cor-preto), var(--cor-azul-nivel2), var(--cor-branca));
}
hr:hover {
  background: linear-gradient(90deg, var(--cor-laranja-escuro), var(--cor-azul-nivel1),  var(--cor-preto), var(--cor-azul-nivel2), var(--cor-azul-nivel3), var(--cor-preto), var(--cor-laranja-claro), var(--cor-branca));
  transition: all 0.9s;
}
header {
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 4px solid var(--cor-azul-nivel1);
  background-color: var(--cor-laranja-escuro);
  box-shadow: 2px 2px 10px var(--cor-laranja-escuro);
}
header h1 {
  margin: 0;
  padding: 5px 5px;
  font: 700 1.5em Arial;
  color: var(--cor-branca);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  width: inherit;
  height: inherit;
  margin-top: 30px;
  display: inherit;
  flex-direction: inherit;
}
form div {
  padding: 10px;
  font: normal 12pt Arial;
}
#ativarBox {
  display: flex;
  justify-content: center;
}
#ativarBox span {
  margin-left: 7px;
}
#ativarBox input{
  all: unset;
  width: 15px;
  height: 15px;
  padding: 2px;
  background: linear-gradient(to right, var(--cor-laranja-escuro), var(--cor-azul-nivel2));
  border: 1px solid var(--cor-branca);
  cursor: pointer;
  display: inline-block;
}
#ativarBox input:checked{
  background-color: var(--cor-laranja-claro);
  background: url("../src/favicon-16x16.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border: 1px groove var(--cor-laranja-claro);
}
button {
  margin: 5px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background: none;
  font: normal 1.7em Arial;
  color: var(--cor-branca);
}
button:active {
  transform: scale(0.77);
}
button:hover {
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}
button:active, button:hover {
  transition: all 0.9s;
}
#btnSalvar {
  background-color: var(--cor-laranja-escuro);
  box-shadow: 0px 0px 7px var(--cor-laranja-claro);
}
footer {
  margin-top: 20px;
}
footer a {
  color: var(--cor-branca);
}
footer small {
  font: normal 1.2em Arial;
}
#container {
  margin: 25px;
}